doctype html
html(lang='ko')
	head
		meta(charset='UTF-8')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
		script(src='app.js', type='text/javascript')
		link#bootstrap-css(href='css/bootstrap.min.css', rel='stylesheet')
		link(rel='stylesheet', href='css/bootstrap.css')
		script(type='text/javascript', src='js/bootstrap.js')
		link(rel='stylesheet', href='css/styles.css')
	body
		.header
			input#openSidebarMenu.openSidebarMenu(type='checkbox')
			label.sidebarIconToggle(for='openSidebarMenu')
				.spinner.diagonal.part-1
				.spinner.horizontal
				.spinner.diagonal.part-2
			#sidebarMenu
				ul.sidebarMenuInner
					li
						| OPENSTACK 
						span IOT
					li
						a(href='https://vanila.io', target='_blank') 기기 등록
					li
						a(href='machinelist.html', target='_blank') 기기 목록
		.container(style='padding-top:80px;')
			.col-md-12
				h3.text-center 등록된 기기 목록
				hr
		form(action='/machinelist', method='post')
			.container.col-xs-12.col-sm-6.col-md-4.col-sm-offset-10.col-md-offset-4.text-center(style='padding-top:80px;')
				h4 조도 값: 
				h3( style='color:red;') #{jodovalue}
				input#jodo(name='jodo' style="visibility: hidden;")
			.container
				.col-md-6.col-md-offset-3.input-group
					input#submit.btn.btn-success.btn-outline.col-xs-12.col-sm-4.col-md-6.col-sm-offset-10.col-md-offset-5(type='submit', style='height: 40px; width: 100px; font-size: 15px;', value='갱신하기')
				br
				br
				hr
		form(action='/machinelist', method='post')
			.container.col-xs-12.col-sm-6.col-md-4.col-sm-offset-10.col-md-offset-4.text-center(style='padding-top:80px;')
				h4 조명 제어: #{ledvalue}
				label.switch
					input#LED(type='checkbox', name='LED', onclick='toggle(this)')
					span.slider.round
			.container.col-xs-12.col-sm-6.col-md-4.col-sm-offset-10.col-md-offset-4.text-center(style='padding-top:30px;')
				h4 냉방 제어: #{coolvalue}
				label.switch
					input#COOL(type='checkbox', name='COOL', onclick='toggle(this)')
					span.slider.round
			.container
				.col-md-6.col-md-offset-3.input-group
					br
					br
					br
					input#submit.btn.btn-success.col-xs-12.col-sm-4.col-md-6.col-sm-offset-10.col-md-offset-4(type='submit', style='height: 50px; width: 200px; font-size: 18px;', value='입력')
		script.
			if (#{ledvalue}) document.getElementById("LED").checked = true
			else document.getElementById("LED").checked = false
			if (#{coolvalue}) document.getElementById("COOL").checked = true
			else document.getElementById("COOL").checked = false

